.vantageRibbon {
    padding: .5rem 1rem;
    display: flex;
    justify-content: flex-start;
}

.vantageRibbon img{
    height: 44px;
    width: 44px;
}

.ecoPointsHead {    
    font-size: 16px;
    line-height: 20px;    
}

.ecoPoints {
    font-family: 'ApexMk2-Regular';
    font-size: 23px;
    line-height: 28px;
}