.deviceConnected {
    padding: .5rem 1rem;
}
.deviceConnected h5 {
    font-family: ApexMk2-BoldExtended;
    color: #4b4f53;
    font-size: 20px;
    line-height: 22px;
}

.deviceRow {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
}

.switch {
    top : 8px;
}

.icons {
    width: 30px;
    height: auto;
}