@font-face {
    font-family: 'ApexMk2-BoldExtended';
    src: url('../fonts/ApexMk2BoldExtended.otf') format('opentype');
}
@font-face {
    font-family: 'ApexMk2-Regular';
    src: url('../fonts/ApexMk2Regular.otf') format('opentype');
}
@font-face {
    font-family: 'ProximaNova-LightIt';
    src: url('../fonts/ProximaNova-LightIt.otf') format('opentype');
}
@font-face {
    font-family: 'ProximaNova-RegIt';
    src: url('../fonts/ProximaNova-RegIt.otf') format('opentype');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.otf') format('opentype');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Reg.otf') format('opentype');
}
body {
    font-family: 'ProximaNova-Regular';
    color: #737273;
}

a:hover{
    text-decoration: none;
}