.body {
  background-color: #333333;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

.first{
	 background: url(../../images/rectangle-6.png) no-repeat;
	 background-size: 100% 100%;
	 /*height: 463px;*/
	 border-bottom-right-radius: 30px;
	 border-bottom-left-radius: 30px;
}

.second{
	background: url(../../images/water-supply.png) no-repeat;
	background-size: 100% 100%;
	height: 450px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.third{
	background: url(../../images/gas.png) no-repeat;
	background-size: 100% 100%;
	height: 450px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
.carousel{
	/*background: url(../../images/rectangle-6.png) no-repeat;*/
	background-size: 100% 100%;
	height: 463px;	
    border-bottom-right-radius: 30px;
   	border-bottom-left-radius: 30px;
}
.carousel-indicators li{
	height: 12px!important;
	width: 12px!important;
    border-radius: 50%;
}
.icon-svg{
	width:300px!important;
	height: 240px;
	margin: 120px auto;
	padding:10px;
}
.first .firstItem{
	width: 80%;
	height: 280px;
	margin-left:10%;
	border-radius: 31px;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(9px);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(255, 255, 255, 0.7);
	background: url(../../images/electricity.png), linear-gradient(#fbefd0,#fae8cc);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%, 100%;
	/*background: linear-gradient(#fbefd0,#fae8cc);*/
	height: 280px;
	margin-bottom: 60px;

	/*border-radius:30px!important;*/
	
}


.first .topbar{
	width: 80%;
	height: 80px;
	margin-left:10%;
	background-image: url(../../images/electricity-icon.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	margin-top: 20px;
}


.first .topbar>div{
	margin-left: 70px;
}

.points-text{

	font-family: ApexMk2-BoldExtended;
	font-size: 23px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #737273;
}

.light-text{
	font-family: ProximaNova-Light;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #737273
}

.second .secondItem{
	width: 80%;
	height: 280px;
	margin-left:10%;
	border-radius: 31px;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(9px);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(255, 255, 255, 0.7);
	background: url(../../images/water.png), linear-gradient(#C8F2F6,#C8F2F6);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%, 100%;
	/*background: linear-gradient(#fbefd0,#fae8cc);*/
	height: 280px;
	margin-bottom: 60px;

	/*border-radius:30px!important;*/

}

.second .topbar{
	width: 80%;
	height: 80px;
	margin-left:10%;
	background-image: url(../../images/electricity-icon.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	margin-top: 20px;
}


.second .topbar>div{
	margin-left: 70px;
}

.third .thirdItem{
	width: 80%;
	height: 280px;
	margin-left:10%;
	border-radius: 31px;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(9px);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(255, 255, 255, 0.7);
	background: url(../../images/Lpg_gas.png), linear-gradient(#FEEAC6,#df3b671a);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%, 100%;
	/*background: linear-gradient(#fbefd0,#fae8cc);*/
	height: 280px;
	margin-bottom: 60px;

	/*border-radius:30px!important;*/

}

.third .topbar{
	width: 80%;
	height: 80px;
	margin-left:10%;
	background-image: url(../../images/electricity-icon.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	margin-top: 20px;
}


.third .topbar>div{
	margin-left: 70px;
}

.carousel-item{
	padding:10px!important;
	
}
