.app-bill-heading {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}
.pay-bill-container  {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
   border-bottom: solid 1px #979797;
  }
  .pay-bill-wrapper {
    background-image: linear-gradient(to bottom, #fad961, #f76b1c);
  }
  .transact-container {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-pay-bill  {
    width:80px; 
  }
  .total-bill {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
  }
  .total-bill-text {
    font-size: 28px;
	color: #737273;
    }

    .next-bill {
        color:#737273;
        font-size: 12px;
        font-weight: 300;
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .bill-date {
        color:#737273;
        font-size: 12px;
        font-weight: 600;
        padding-left: 20px;
    }
    .view-details-link {
        font-size: 12px;
        color:#737273;
    }
    .btn-pay-bill {
        width: 100px;
	height: 40px;
	border-radius: 20px;
	background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
    color:#c6c6c6;
    font-size: 20px;
    font-weight: bold;
    }
    .transact-description {
        font-size: 14px;
        color: #737273;
        float: left;
    }
    .transact-btn {
font-size: 16px;
color:#ffffff;
    }
    .my-appliances-text {
        font-size: 20px;
        color:#737273;
    }
    .manage-text {
        color:#ff9f00;
        font-size: 16px;
	font-weight: bold;
    }
    .app-sec {
        float: left;
    }
    .total-consumption-text {
        font-size: 16px;
    font-weight: 300;
    color: #737273;
    margin-bottom: 0;
    }
    .total-consumption-date {
        font-size: 16px;
	font-weight: 600;
    color: #737273;
    }
    .show-more-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .my-appliances-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: solid 1px #979797;
    }
    .total-consumption-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    .app-device-section  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: solid 1px #979797;
    }
    .app-img {
        width: 30px;
        height:13px;
        object-fit: contain;
    }
    .app-img1 {
        width: 80%;
        object-fit: contain;
    }
    .app-img2 {
        width: 60%;
        object-fit: contain;
    }
    .app-img3 {
        width: 50%;
        object-fit: contain;
    }
    .app-img4 {
        width: 30%;
        object-fit: contain;
    }
    .total-units-text {
        font-size: 30px;
        font-weight: bold;
        color: #737273;
    }
    .device-units {
        font-weight: bold;
        font-size: 24px;
        color: #737273;
    }
    .device-name {
        font-size: 16px; 
        color: #737273;
        margin-bottom: 5px;
    }
    .show-more {
        margin: 0 auto;
        font-size: 11px;
        font-family: 'ApexMk2-Regular';
    }
    .show-more-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .marginLft0 {
        margin-left:0px;
        margin-right:0px;
    }
    .avatar1 {
        width:100%;
        height:200px;
        margin-bottom:15px;
    }