.pay-bill-container  {
    background:lightgrey;
    display:flex;
    align-items:center;
   padding:20px;
  }
  .transact-container {
    background:grey;
    padding:12px;
  }
  .btn-pay-bill  {
    width:80px; 
   padding:10px;
  }