.notify-container{
      width: 375px;
      height: 567px;
      border-radius: 18px;
      -webkit-backdrop-filter: blur(18.4px);
      backdrop-filter: blur(18.4px);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
      background-color: #ffffff;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      position: fixed;
        z-index: 1;
        top: 74px;
        left: 0;
       overflow-y: scroll;
    	transition-property: all;
    	transition-duration: .5s;
    	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    .notify-list{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4a4a4a;
    }
    .metrics{
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: 0.2px;
      color: #4b4f53;
    }
    .list-group-item{
    	padding: 22px 30px;
    }
    .list-group-item label{
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: 0.2px;
      color: #4b4f53;
    }