.customLink {
  color: #000;

}

.customLink:hover{
   text-decoration: none;
  color:#000
}

.heading {
    font-weight:600;
}
.text {
    font-weight:200;
}
.parent {
    margin-bottom:20px;
}
.section-image {
    height:200px;
}