.accordionsContainer .buttonImage, .accordionsContainer .buttonImage.collapsed {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 17px 11px; 
    font-family: 'ApexMk2-BoldExtended';
    font-size: 18px;
    line-height: 22px;
    color: #4b4f53;
}
.accordionsContainer .buttonImage {
    background-image: url("../../images/upArrow.png");
}
  .accordionsContainer .buttonImage.collapsed {
    background-image: url("../../images/downArrow.png"); 
}

.card-body {
    padding: 1.25rem;
    border: 0px;
    font-size: 15px;
    line-height: 18px;
    color: #4b4f53;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.appliance {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 1.25rem 0px;
}

.appliance:first-child {    
    padding-top: 0rem;
}

.appliance:last-child {
    border-bottom: none;
    padding-bottom: 0rem;
}

.accordionDetailsCntnr div,.billCalculationCntnr div {
    margin-bottom: 1rem;
}

.accordionDetailsCntnr div:nth-child(even) {
    text-align: right;
}

.card {
    border:none;
    margin-bottom: 20px;
}

.card-header {
    background-color: #fff;
}

.infoIcon {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.billCalculationCntnr button,.billCalculationCntnr button:hover{
    border: none;
    background: none;
    padding: 0px;
    outline: none;
}

.modalInfoIcon {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.closeModal {
    height: 20px;
    width: 20px;
}

.description-container-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.accordDevice {
    font-size: 16px;
    line-height: 20px;
}

.costConsumeTxt {
    font-size: 14px;
    line-height: 17px;
}