.monthlyBillContainer {
    display:flex;
    flex-direction:column;
    font-size: 14px;
    line-height: 17px;
    color: #4a4a4a;
}

.monthlyBillContainer strong{
    font-size: 18px;
    line-height: 22px;
    color: #4a4a4a;
    font-family: 'ApexMk2-BoldExtended';
}

.monthlyBillRow {
    display:flex;
    justify-content: space-between;
    align-content: space-between;
}

.monthlyBillRow h3{
    font-size: 18px;
    line-height: 22px;
    font-family: 'ApexMk2-BoldExtended';
}

.monthlyBillRow a{
    font-size: 16px;
    line-height: 19px;
    font-family: 'ApexMk2-BoldExtended';
    color: #ff9f00;
}