.titleTxt{
    font-family: ProximaNova-Light;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737273;
}

.number{
    font-family: ApexMk2-BoldExtended;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737273;
}

.unit{
    font-family: ApexMk2-Regular;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.dateTxt{
    font-family: ProximaNova-Regular;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.priceTxt{
    font-family: ProximaNova-Light;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737273;
}

.addIcon{
    background:  url(../../images/addIcon.png);
    background-repeat:no-repeat ;
    background-size: 20px 20px;
    background-position: 30px;
}

.addApplianceTxt{
    font-family: ApexMk2-Regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 40px;
    color: #ff9f00;
}

.editTxt{
    font-family: ApexMk2-Regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737273;
}

.myApplianceBg{
    background: url("../../images/myApplianceBg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 15px;
}

.app-img-refrigerator{
    width:10px;
    height:auto;
}

.border-btm{
    border-bottom:1px solid #979797
}

.lblTxt{
    font-family: ProximaNova-Light;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737273;
}

.valueTxt{
    font-family: ProximaNova-Regular;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737273;
}

.removeBtnTxt{
    font-family: ApexMk2-BoldExtended;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737273;
}

.device-name{
    font-family: ProximaNova-Light;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737273;
}


.ecoModeTxt{
    font-family: ApexMk2-BoldExtended;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7ed321;
}

