.header {
    padding: .5rem 1rem;
    background-color: #f8f9fa;
}

.header .d-flex{
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
}

.slideOut {
    width: 250px;
}

.slideIn {
    width: 0px;    
}

.mainSlideOut {
    margin-left: 0px;
}

.mainSlideIn {    
    margin-left: 120px;
}
#mySidenav {
    height: 667px;
    border-radius: 0px 0px 18px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
}
.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 135px;
    background-image: url('../../images/backimg.png');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav-sub-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 112px;
    border-bottom: solid 1px #979797;
}
.profile-img {
    display: flex;
    justify-content: center;
    margin-bottom:10px;
}
.profile-txt {
    display: flex;
    justify-content: center;
} 
.profile-name {
    color:#ffffff;
    font-size: 14px;
}
.profile-doc-text {
    font-size:12px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}